$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin sm-screen {
    @media (min-width: $breakpoint-sm) {
        @content;
    }
}

@mixin md-screen {
    @media (min-width: $breakpoint-md) {
        @content;
    }
}

@mixin lg-screen {
    @media (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin xl-screen {
    @media (min-width: $breakpoint-xl) {
        @content;
    }
}

/* EJEMPLO DE USO */
/*
.element {
    width: 100%;

    @include sm-secreen {
        display: none;
    }

    @include md-screen {
        width: 33.33%;
    }
    
    @include lg-screen {
        width: 50%;
    }

    @include xl-screen {
        width: 100%;
    }
}
*/